body {
  background-color: #849D8F;
  background: url("../img/gllacy-index.jpg") no-repeat;
  width: 1200px;
  height: 2400px;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  }

  p, b, h3, h4, a {
    margin: 0;
    padding: 0;
  }
  .visually-hidden {
    border:0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding:0;
    position: absolute;
    width: 1px; 
  }

.main-menu-list {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding: 0;
  text-decoration: none;
  }

.sub-menu-list {
  background-color: #F8F7F4;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-menu-list {
  width: 146px;
}

.main-menu-link {
  color: #ffffff;
  padding: 13px 14px;
  text-decoration: none;
}

.main-menu-link:hover {
  background-color: #F7F6F3;
  border-radius: 25px;
  color: #323232;
  text-decoration: none;
  border-bottom: 0;
}

.main-menu-link:focus {
  background-color: #EDEDED;
  border-bottom: 0;
  border-radius: 25px;
  box-shadow: inset 0 2px 1px 0 #696969;
  color: #323232;
  text-decoration: none;
}

.main-menu-link:active,
.main-menu-link-current  {
  background-color: #D07058;
  border-bottom: 0;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
}

.sub-menu-link {
  color: #323232;
  text-decoration: none;
}

.sub-menu-new {
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}

.sub-menu-link:hover {
  background-color: #FBDED7;
}

.sub-menu-link:focus {
  background-color: #F6B5A5;
}

.sub-menu-link:active {
  background-color: #D07058;
}

.search-form,
.login-form,
.cart-form,
.sub-menu-list,
.feedback,
.banners {
  display: none;
}


.search {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  height: 33px;
  margin-right: 8px;
  text-decoration: none;
  width: 33px;
}


.login-link,
.cart-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.login-link {
  display: block;
  margin-right: 10px;
  padding: 6px 16px;
  width: 60px;
}

.cart-link {
  display: block;
  margin-right: 0;
  padding: 6px 12px 6px 16px;
  width: 75px;
}

.login-link:hover,
.login-link:focus,
.login-link:active,
.cart-link:hover,
.cart-link:focus,
.cart-link:active,
.filters-form-button:hover,
.filters-form-button:focus,
.filters-form-button:active {
  background-color: #F8F7F4;
  color: #323232;
}

.cart-link:active,
.cart-link-curent {
  color: #323232;
  background-color: #F8F7F4;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 13px 14px;
  text-decoration: none;
}

.about {
  background: url("../img/bg-waffle.png") no-repeat;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 23px 22px;
  margin: 0;
  margin-bottom: 35px;
  /*временно для сеток*/
  outline: 2px solid #942718;
  min-height: 260px;
}

.about-text {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  margin-bottom: 12px;
  width: 100%;
   /*временно для сеток*/
   outline: 2px solid #837bcf;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*временно для сеток*/
  outline: 2px solid #cf7b8d;
}

.advantages-item {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 538px;
   /*временно для сеток*/
   outline: 2px solid #E84D37;
}

.featured-post {
  background: url("../img/bg-strawberry.jpg") no-repeat;
  background-color: #ffffff;
  border-radius: 15px;
  width: 560px;
  /*временно для сеток*/
  outline: 2px solid blue;
}

.featured-post-title {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  order: 1;
  margin: 0;
  padding: 0;
  width: 285px;
}

.featured-post-link {
  color: #323232;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.featured-post-link:hover,
.featured-post-link:focus,
.featured-post-link:active {
  color: #E84D37;
  border-bottom: 2px solid rgba(255, 188, 158, 0.3);
}

.featured-post-text {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

}

.subscribe {
  background: url("../img/bg-subscription.png") no-repeat;
  background-color: #ffffff;
  border-radius: 15px;
  width: 560px;
  /*временно для сеток*/
  outline: 2px solid blue;
  
}

.subscribe-text {
  color: #5A5A5A;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 37px;
}
.subscribe-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
} 

.subscribe-form input {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid rgba(178, 178, 178, 52);
  border-radius: 5px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 15px;
  width: 335px;
}

.subscribe-button,
.banners-link,
.banner-action-link {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 22px;
  margin-bottom: 22px;
  text-align: center;
  text-decoration: none;
}

.subscribe-button {
  width: 131px;
}

.banner-action-link {
  align-self: flex-end;
}

.subscribe-button:hover,
.subscribe-button:focus,
.banners-link:hover,
.banners-link:focus,
.banner-action-link:hover,
.banner-action-link:focus,
.contacts-action:hover,
.contacts-action:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #AC1000;
}

.subscribe-button:active,
.banners-link:active,
.contacts-action:active,
.banner-action-link:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.social-networks-link {
  text-decoration: none;
}

.social-networks-link-twitter::before {
  background: url("../img/twitter.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 2px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}


.social-networks-link-instagram::before {
  background: url("../img/instagram.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 2px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}

.social-networks-link-fb::before {
  background: url("../img/fb.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 2px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}

.social-networks-link-vk::before {
  background: url("../img/vk.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 2px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}


.social-networks-link:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #ffffff;
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}

.footer-navigation-link,
.copyright-link,
.breadcrumbs-link,
.catalog-item-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.like {
  font-weight: 700;
}

.like::before {
  background: url("../img/heart.svg");
  content: "";
  position: absolute;
  left: 20px;
  height: 13px;
  width: 15px;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus,
.footer-navigation-link:active,
.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active,
.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active,
.catalog-item-link:hover,
.catalog-item-link:focus,
.catalog-item-link:active {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.copyright-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs-current {
  border-bottom: 0;
  pointer-events: none;
}

.catalog-item-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-item-price {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 13px;
  text-shadow: 0.5px 0.9px 3px rgba(49,50,53,0.50);
}

.catalog-item-kg {
  font-size: 30px;
  font-weight: 700;
  line-height: 13px;
  text-shadow: 0.5px 0.9px 3px rgba(49,50,53,0.50);
}

.catalog-item-img img{
  border-radius: 50%;
}

.page-titile {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.contacts-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contacts-phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  white-space: pre;
}

.сreme-brulee {
  background: 
    url("../img/ice-cream-1.png") no-repeat 50% 0,
    url("../img/bg-backlight-1.png") no-repeat 50% 0;
  background-size:
    647px 584px,
    1045px 881px;
  display: block;
  height: 881px;
  width: 1045px;
}

.chocolat {
  background: 
    url("../img/ice-cream-2.png") no-repeat 50% 0,
    url("../img/bg-backlight-2.png") no-repeat 50% 0;
  background-size:
    647px 584px,
    1045px 881px;
  display: block;
  height: 881px;
  width: 1045px;
}

.plombir {
  background: 
    url("../img/ice-cream-3.png") no-repeat 50% 0,
    url("../img/bg-backlight-3.png") no-repeat 50% 0;
  background-size:
    647px 584px,
    1045px 881px;
  display: block;
  height: 881px;
  width: 1045px;
}

.banners-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.banners-link {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  padding: 13px 50px;
} 

.banners-control {
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  background-color: transparent;
}

.banners-control:hover,
.banners-control:focus {
  background-color: rgba(248, 247, 244, 0.6);
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 23px;
  width: 23px;
}

.banners-control:active,
.banners-control-current {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 23px;
  width: 23px;
}

.banner-action-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;

}

.banner-action-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.banner-action-left {
  background: url("../img/bg-raspberry.jpg") no-repeat;
  background-size: 560px;
  background-color: #d1012a;
  border-radius: 16px;
}

.banner-action-right {
  background: url("../img/bg-chocolate.jpg") no-repeat;
  background-color: #d1012a;
  border-radius: 25px;
}

.main-contacts-block {
  background-color: #ffffff;
  border-radius: 15px;
  display: block;
  padding: 32px 25px 28px;
  width: 255px;
}

.main-contacts-p,
.contacts-time {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  
}

.main-contacts-b {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-phone-map {
  color: #323232;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  white-space: pre;
}

.contacts-action {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 13px 14px;
  margin-top: 32px;
  text-align: center;
  text-decoration: none;
}

.catalog-item-hit::before {
  content: "";
  background: url("../img/hit.svg") no-repeat;
  border-radius: 50%;
  display: block;
  height: 61px;
  position: absolute;
  width: 61px;
}

.contacts-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.filters-form-group label, 
.filters-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter-form-sorting {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 12px 17px;
  top: -2px;
  width: 196px;
}

.price {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 8px 21px;
  width: 222px;
}

/*
.filter-form-sorting::after {
  background: url("../img/icon-down-dir.svg") no-repeat;
  content: "";
  display: block;
  position: absolute;
}
*/


.filters-form-fatty-item,
.filters-form-fillers-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filters-form-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 13px 31px;
  text-decoration: none;
}

.filters-form-button:active {
  background-color: #EDEDED;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination-link {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  height: 28px;
  width: 29px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 28px;
  width: 29px;
}

.pagination-link-current,
.pagination-link:active {
  background-color: #ffffff;
  border-radius: 50%;
  color: #323232;
  display: inline-block;
  height: 28px;
  width: 29px;
}

/*Строим сетки*/

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*временно для сетк*/
  min-height: 106px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  /*временно для сеток*/
  outline: 2px solid #ffffff;
}

.main-menu-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-top: 9px;
  width: 1146px;
  /*временно для сеток*/
  outline: 2px solid orange;
  min-height: 64px;
}

.main-logo {
  height: 64px;
  margin-right: 9px; 
  width: 154px;
  /*временно для сеток*/
  outline: 2px solid blue;
}

.main-menu {
  display: flex;
}

.main-menu-list {
  display: flex;
  justify-content: space-between;
  width: 378px;
  margin-right: 360px; 
  margin-top: 20px;
  /*временно для сеток*/
  outline: 2px solid red;
  min-height: 21px;
}

.user-navigation-list {
  display: flex;
  width: 246px;
  margin-right: 0;
  margin-top: 20px;
  padding: 0;
  /*временно для сеток*/
  outline: 2px solid yellow;
  min-height: 35px;
}

.contacts  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  padding-left: 30px;
  width: 166px;
  /*временно для сеток*/
  min-height: 35px;
  outline: 2px solid orchid;
}

.setka {
  min-height: 494px;
  margin-bottom: 40px;
}

.banner-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  /*временно для сеток*/
  outline: 2px solid rgb(84, 42, 199);
}

.banner-action-left,
.banner-action-right {
  display: flex;
  flex-direction: column;
  padding: 20px 21px;
  padding-bottom: 0;
  width: 518px;
  /*временно для сеток*/
  outline: 2px solid rgb(196, 199, 42);
}

.catalog {
  display: flex;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  /*временно для сеток*/
  outline: 2px solid palevioletred;
}

.catalog-item-hit{
  display: flex;
  flex-direction: column;
  width: 267px;
  /*временно для сеток*/
  outline: 2px solid rgb(54, 5, 189);
}

.catalog-item-b {
  margin-top: -46px;
  margin-bottom: 23px;
  order: 1;
}

.catalog-item-hit-title {
  text-align: center;
  order: 2;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  /*временно для сеток*/
  outline: 2px solid #E74A35;
}

.featured-post {
  display: flex;
  flex-direction: column;
  padding: 25px 21px;
  padding-bottom: 0;
  width: 518px;
} 

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 34px 26px;
  padding-bottom: 0;
  width: 508px;
} 

.map-contacts {
  display: flex;
  width: 100%;
  min-width: 1200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  /*временно для сеток*/
  outline: 2px solid #E74A35;
}

.map-contacts-img {
  min-width: 1200px;
  /*временно для сеток*/
  outline: 2px solid darkkhaki;

}
.main-contacts {
  margin-left: -340px;
  width: 305px;
  /*временно для сеток*/
  outline: 2px solid darkred;
}

.main-footer {
  display: flex;
}

.social-networks-list {
  display: flex;
  justify-content: space-between;
  margin-right: 214px;
  padding: 17px 0;
  width: 186px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7px 0;
  margin-right: 230px;
  width: 326px;
}

.footer-navigation-item {
  min-width: 163px;
}

.copyright {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: -5px;
}

.copyright-logo {

}



