body {
/*
background: url("../img/gllacy-catalog.jpg") no-repeat;
width: 1200px;
height: 1640px;*/
background-color: #849D8F;
color: #ffffff;
font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22px;
margin: 0, auto;
padding: 0;
}

.visually-hidden {
  border:0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding:0;
  position: absolute;
  width: 1px; 
}

.container {
  margin: 0 auto;
  position: relative;
  width: 1146px;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu-link {
  color: #ffffff;
  padding: 7px 14px;
  position: relative;
  text-decoration: none;
}

.main-menu-span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu-link:hover {
  background-color: #F7F6F3;
  border-radius: 60px;
  color: #323232;
  text-decoration: none;
  border-bottom: 0;
}

.sub-menu-list {
  background-color: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding: 13px 21px;
  position: absolute;
  top: 60px;
  text-decoration: none;
  width: 100px;
  z-index: 5;
}

.main-menu-item:hover .sub-menu-list {
  display: block;
  top: 60px;
  left: 157px;
}

.main-menu-link:focus {
  background-color: #EDEDED;
  border-bottom: 0;
  border-radius: 25px;
  box-shadow: inset 0 2px 1px 0 #696969;
  color: #323232;
  text-decoration: none;
}

.main-menu-link-current .main-menu-span,
.main-menu-span:active,
.main-menu-span:hover,
.main-menu-span:focus {
  border-bottom: 0;
}

.main-menu-link:active,
.main-menu-link-current  {
  background-color: #D07058;
  border-bottom: 0;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
}

.main-menu-wrapper {
  display: flex;
  padding-top: 8px;
}

.main-logo {
  height: 64px;
  margin-right: 9px; 
  width: 154px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-menu-list {
  display: flex;
  justify-content: space-between;

}
.main-menu-list {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding: 0;
  text-decoration: none;
}

.sub-menu-item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  position: relative;
}

.sub-menu-link {
  color: #323232;
  text-decoration: none;
  display: block;
  height: 30px;
  line-height: 30px;
  margin-left: -21px;
  padding-left: 21px;
  width: 121px;
}

.sub-menu-new {
  font-size: 14px;
  font-weight: 700;
}

.sub-menu-link:hover {
  background-color: #FBDED8;
  background-size: 146px 30px;
}

.sub-menu-link:focus {
  background-color: #F6B5A5;
}

.sub-menu-link:active {
  background-color: #F6B5A5;
}

.sub-menu-hover {
  background-color: #FBDED8;
  background-size: 146px 30px;
  display: block;
  height: 30px;
  margin-left: -21px;
  padding-left: 21px;
  width: 121px;
}

.user-navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.user-navigation-item {
  margin-right: 10px;
}

.user-navigation-item:last-child {
  margin-right: 0;
}

.search {
  background: url("../img/loupe.svg") no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 17px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  line-height: 16px;
  position: relative;
  text-decoration: none;
  width: 32px;
}

.search:hover,
.search:focus,
.search:active {
  background: url("../img/loupe-dark.svg") no-repeat;
  background-color: #F8F7F4;
  background-position: center;
}

.search-form {
  display: none;
}

.search-form-form {
  background-color: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  height: 45px;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 38px;
  width: 310px;
  z-index: 5;
}

.search-form-search {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  height: 45px;
  padding: 8px 15px;
  width: 310px;
}

.search:hover .search-form {
  display: block;
}

.login {
  position: relative;
}

.login:hover .login-form {
  display: block;
}

.login-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  color: #ffffff;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 16px 8px 44px;
}

.login-link::before {
  content: "";
  background: url("../img/entrance-white.svg") no-repeat;
  height: 19px;
  position: absolute;
  left: 15px;
  top: 2px;
  width: 21px;
}

.login-link:hover,
.login-link:focus,
.login-link:active {
  background-color: #F8F7F4;
  color: #323232;
}

.login-link:hover::after,
.login-link:focus::after,
.login-link:active::after {
  content: "";
  background: url("../img/entrance.svg") no-repeat;
  background-color: #F8F7F4;
  color: #323232;
  height: 19px;
  position: absolute;
  left: 15px;
  top: 2px;
  width: 21px;
}

.login-form {
  display: none;
}

.login-form-form {
  background-color: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  height: 172px;
  padding: 20px 19px;
  position: absolute;
  right: 0;
  top: 34px;
  z-index: 5;
  width: 239px;
}

.login-form-field {
  margin-bottom: 20px;
}

.login-form-email {
  border: 1px solid #D3D3D2;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  height: 24px;
  padding: 10px 15px;
  width: 210px;
}

.login-form-password {
  border: 1px solid #D3D3D2;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  height: 24px;
  padding: 10px 15px;
  width: 210px;
}

.login-form-entrance {
  display: inline-block;
  vertical-align: top;
}

.login-form-button {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 10px 22px;
  text-decoration: none;
  vertical-align: top;
}

.login-form-button:hover,
.login-form-button:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px 0 #AC1000;
}

.login-form-button:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.login-form-forgot {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.login-form-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #323232;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.login-form-link:hover,
.login-form-link:focus,
.login-form-link:active {
  color: #E84D37;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.cart {
  position: relative;
}

.cart:hover .cart-form {
  display: block;
}

.cart-form {
  background-color: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 19px 15px 29px;
  position: absolute;
  right: 0;
  top: 34px;
  z-index: 5;
  width: 510px;
}

.cart-form-table {
  border-bottom: 1px solid #CACAC7;
  margin: 0;
  width: 510px;
}

.cart-form-td:nth-child(3) {
  width: 225px;
}

.cart-form-td:nth-child(4) {
  width: 123px;
}

.cart-form-td {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 20px;
}

.cart-form-reset {
  background-image: url("../img/cross-small.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  height: 11px;
  padding-right: 14px;
  width: 11px;
}

.cart-form-img {
  border-radius: 50%;
  height: 33px;
  margin: 0;
  padding: 0;
  width: 33px;
}

.cart-form-name-product {
  color: #323232;
  max-width: 244px;
  vertical-align: middle;
}

.cart-form-text {
  color: #323232;
}

.cart-form-price {
  color: #999999;
}

.cart-form-amount {
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.cart-form-order {
  margin: 0;
  text-align: right;
  padding: 0;
  vertical-align: top;
}

.cart-form-amount {
  padding: 11px 0;
  text-align: right;
}

.cart-form-link {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 10px 16px;
  text-decoration: none;
  vertical-align: top;
}

.cart-form-link:hover,
.cart-form-link:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px 0 #AC1000;
}

.cart-form-link:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.cart-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 16px 8px 45px;
  text-decoration: none;
}

.cart-link::before {
  content: "";
  background: url("../img/basket.svg") no-repeat;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 2px;
  width: 21px;
}

.cart-link:hover,
.cart-link:focus,
.cart-link:active,
.cart-link-current {
  background-color: #F8F7F4;
  color: #323232;
}

.cart-link:hover::after,
.cart-link:focus::after,
.cart-link:active::after,
.cart-link-current::after {
  content: "";
  background: url("../img/basket-red.svg") no-repeat;
  background-color: #F8F7F4;
  color: #323232;
  height: 19px;
  position: absolute;
  left: 15px;
  top: 2px;
  width: 21px;
}

.main-navigation-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs-item {
  margin-right: 22px;
  position: relative;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.breadcrumbs-link:not(.breadcrumbs-current)::after {
  content: "»";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  right: -15px;
  bottom: 3px;
  position: absolute;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  border-bottom: 0;
  pointer-events: none;
}

.page-titile {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
}

.filters-form-fatty-item,
.filters-form-fillers-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filters-form-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  height: 35px;
  margin-top: 38px;
  padding-left: 27px;
  padding-right: 29px;
  text-decoration: none;
  vertical-align: middle;
}

.filters-form-button:hover,
.filters-form-button:focus,
.filters-form-button:active {
  background-color: #F8F7F4;
  color: #323232;
}

.filters-form-button:active {
  background-color: #EDEDED;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.сream-brulee {
  display: none;
}

.chocolat {
  display: none;
}

.plombir {
  display: none;
}

.сream-brulee-show {
  display: block;
}

.chocolat-show  {
  display: block;
}

.plombir-show  {
  display: block;
}

.wrap-background-show-1 {
  background: 
    url("../img/ice-cream-1.png") no-repeat 50% 0,
    url("../img/bg-backlight-1.png") no-repeat 50% 0;
  background-position-y: 
  83px,
  0;
  display: block;
}

.wrap-background-show-2 {
  background: 
    url("../img/ice-cream-2.png") no-repeat 50% 0,
    url("../img/bg-backlight-2.png") no-repeat 50% 0;
  background-position-y: 
  83px,
  0;
  display: block;
}

.wrap-background-show-3 {
  background: 
    url("../img/ice-cream-3.png") no-repeat 50% 0,
    url("../img/bg-backlight-3.png") no-repeat 50% 0;
  background-position-y: 
  83px,
  0;
  display: block;
}

.banners {
  min-height: 488px;
  padding-bottom: 42px;
  position: relative;
}

.banners-title {
  color: #ffffff;
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  padding: 0;
  padding-top: 275px;
}

.banner-link-wrap {
  padding-top: 40px;
  text-align: center;
}

.banners-link {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  padding: 12px 40px;
  text-align: center;
  text-shadow: 2px 0 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;
}

.banners-link:hover,
.banners-link:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #AC1000;
}

.banners-link:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.banners-pagination-list {
  bottom: 63px;
  display: flex;
  justify-content: space-between;
  position: absolute;   
}

.banners-pagination-item {
  margin-right: 8px;
}

.banners-control {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.banners-control:hover {
  background-color: rgba(248, 247, 244, 0.6);
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.banners-control:active,
.banners-control:focus,
.banners-control-current {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.banners-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banner-action {
  background-color: transparent;
  background-position: center;
  border-radius: 15px;
  padding: 15px 21px 24px 19px;
  width: 518px;
}

.banner-action-left {
  background-image: url("../img/raspberry-big.jpg");
  background-color: #d1012a;
}

.banner-action-right {
  background-image: url("../img/chocolate-big.jpg");
  background-color: #d1012a;
}
.banner-action-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.banner-action-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
}

.banner-action-link {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 10px 22px;
  text-decoration: none;
  vertical-align: top;
}

.banner-action-link:hover,
.banner-action-link:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px 0 #AC1000;
}

.banner-action-link:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  width: 267px;
}

.catalog-item::after {
  background-color: #F8F7F4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  content: "";
  height: 408px;
  opacity: 0;
  padding-bottom: 23px;
  position: absolute;
  left: -14px;
  top: -8px;
  width: 296px;
  z-index: -1;
}

.catalog-item:hover {
  z-index: 2;
}

.catalog-item:hover::after {
  opacity: 0.2;
}

.catalog-item-b {
  margin:0;
  margin-top: -46px;
  margin-bottom: 23px;
  padding: 0;
  order: 1;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
  text-align: center;
  order: 2;
  max-width: 256px;
}

.catalog-item-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.catalog-item-link:hover,
.catalog-item-link:focus,
.catalog-item-link:active {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-price {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 13px;
  text-shadow: 0.5px 0.9px 3px rgba(49,50,53,0.50);
}

.catalog-item-kg {
  font-size: 30px;
  font-weight: 700;
  line-height: 13px;
  text-shadow: 0.5px 0.9px 3px rgba(49,50,53,0.50);
}

.catalog-item-img img {
  border-radius: 50%;
}

.catalog-link-fast {
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 25px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  color: #ffffff;
  display: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
  padding-left: 17px;
  padding-right: 17px;
  position: absolute;
  left: 32px; 
  bottom: -70px;
  text-align: center;
  height: 44px;
  z-index: 3;
}

.catalog-link-fast:hover,
.catalog-link-fast:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px 0 #AC1000;
}

.catalog-link-fast:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.catalog-item:hover .catalog-link-fast {
  display: block;
}

.about {
  background: url("../img/waffle-big.png");
  background-color: #ffffff;
  border-radius: 15px;
  padding: 22px 22px 16px;
  margin: 0;
  margin-bottom: 40px;
}

.about-text {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  width: 100%;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 5px;
  padding-left: 55px;
  padding-top: 20px;
  position: relative;
  max-width: 480px;
}

.advantage-ice-cream::before {
  content: "";
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-size: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 7px;
  width: 49px;
}

.advantage-eco::before {
  content: "";
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-size: 49px;
  height: 49px;
  position: absolute;
  left: -1px;
  top: 4px;
  width: 49px;
}

.advantage-cow::before {
  content: "";
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-size: 49px;
  height: 49px;
  position: absolute;
  left: -2px;
  top: 7px;
  width: 49px;
}

.advantage-thermometer::before {
  content: "";
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-size: 49px;
  height: 49px;
  position: absolute;
  left: -3px;
  top: 7px;
  width: 49px;
}

.advantages-item-text {
  margin: 0;
  padding: 0;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.featured-post {
  background: url("../img/bg-strawberry.jpg") no-repeat;
  background-color: #ffffff;
  background-position: -28px -223px;
  border-radius: 15px;
  padding: 25px 20px;
  width: 520px;
}

.featured-post-text {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.featured-post-title {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  width: 285px;
}

.featured-post-link {
  color: #323232;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
}

.featured-post-link:hover,
.featured-post-link:focus,
.featured-post-link:active {
  color: #E84D37;
  border-bottom: 2px solid rgba(255, 188, 158, 0.3);
}

.subscribe {
  border-radius: 15px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  min-height: 220px;
  position: relative;
  width: 560px;
} 

.subscribe::before {
  content: '';
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 15px;
  background: #F8F7F4;
  z-index: 0;
}

.subscribe-content {
  position: relative;
  padding: 35px 27px;
}

.subscribe-text {
  color: #5A5A5A;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 35px;
  padding:0;
}

.subscribe-form input {
  background-color: transparent;
  border: 1px solid rgba(178, 178, 178, 52);
  border-radius: 5px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 5px;
  padding: 10px 15px;
  width: 335px;
}

.subscribe-button {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
}

.subscribe-button {
  text-align: right;
}

.wrap-link {
  display: block;
  text-align: right;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #AC1000;
}

.subscribe-button:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.map-contacts {
  position: relative;
  margin: 0 auto;
  height: 430px;
  width: 100%;
}

.map-contacts-img {
  display: block;
  width: 100%;
}

.main-footer {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 18px 0 27px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 10px;
  position: relative;
  width: 306px;
}

.footer-navigation-item {
  min-width: 111px;
}

.footer-navigation-item:nth-child(2n) {
  margin-left: 32px;
}

.footer-navigation-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus,
.footer-navigation-link:active {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.social-networks-list {
  display: flex;
  justify-content: space-between;
  margin-right: 237px;
  padding-top: 11px;
  padding-left: 3px;
  position: relative;
}

.social-networks-item {
  margin-right: 18px;
}

.social-networks-item:last-child {
  margin-right: 0;
}

.social-networks-link {
  text-decoration: none;
}

.social-networks-link-twitter::before {
  background: url("../img/twitter.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  opacity: 0.8;
  height: 32px;
  width: 32px;
}

.social-networks-link-twitter:hover,
.social-networks-link-twitter:focus {
  background: url("../img/twitter.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}

.social-networks-link-twitter:active::after {
  background: url("../img/twitter-grey.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px #E9E9E9;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  bottom: 0;
  width: 32px;
}

.social-networks-link-instagram::before {
  background: url("../img/instagram.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  opacity: 0.8;
  height: 32px;
  width: 32px;
}

.social-networks-link-instagram:hover,
.social-networks-link-instagram:focus {
  background: url("../img/instagram.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}

.social-networks-link-instagram:active::after {
  background: url("../img/instagram-grey.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px #E9E9E9;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  bottom: 0;
  width: 32px;
}

.social-networks-link-fb::before {
  background: url("../img/fb.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  opacity: 0.8;
  height: 32px;
  width: 32px;
}

.social-networks-link-fb:hover,
.social-networks-link-fb:focus {
  background: url("../img/fb.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}

.social-networks-link-fb:active::after {
  background: url("../img/fb-grey.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px #E9E9E9;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  bottom: 0;
  width: 32px;
}

.social-networks-link-vk::before {
  background: url("../img/vk.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  opacity: 0.8;
  height: 32px;
  width: 32px;
}

.social-networks-link-vk:hover,
.social-networks-link-vk:focus {
  background: url("../img/vk.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
  height: 32px;
  width: 32px;
}

.social-networks-link-vk:active::after {
  background: url("../img/vk-grey.svg") no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px #E9E9E9;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  bottom: 0;
  width: 32px;
}

.like {
  font-weight: 700;
}

.like::before {
  background: url("../img/heart.svg");
  content: "";
  position: absolute;
  left: -21px;
  bottom: 25px;
  height: 13px;
  width: 15px;
}

.copyright {
  margin-left: auto;
}

.copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.contacts-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.contacts-time-map {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.contacts-phone {
  color: #ffffff;
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  white-space: pre;
}

.main-contacts {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
  height: 430px;
  width: 1200px;
}

.main-contacts-img {
  display: block;
}

.main-contacts-block {
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 253px;
  padding: 29px 24px 28px;
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.main-contacts-p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.main-contacts-b {
  color: #323232;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.contacts  {
  text-align: right;
  }

.contacts-phone-map {
  color: #323232;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  padding: 5px 0;
  text-decoration: none;
  white-space: pre;
}

.contacts-action {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 11px 14px;
  text-align: center;
  text-decoration: none;
}

.contacts-action:hover,
.contacts-action:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #AC1000;
}

.contacts-action:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.hit::before {
  background: url("../img/hit.svg") no-repeat;
  border-radius: 50%;
  content: "";
  display: block;
  height: 61px;
  position: absolute;
  width: 61px;
}


.filters {
  margin-bottom: 40px;
} 

.filters-title {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 13px 16px 8px;
}

.filter-form-sorting {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 60px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  line-height: 19px;
  padding-left: 15px;
  padding-right: 30px;
}

.sorting {
  position: relative;
}

.sorting::after {
  background: url("../img/icon-down-dir.svg") no-repeat;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  bottom: 13px;
  right: 10px;
  pointer-events: none;
  width: 11px;
}

.sorting:hover .filter-form-sorting {
  color: #323232;
}

.sorting:hover::after {
  background-image: url("../img/icon-down-dir-black.svg");
}

.filter-form-price {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 16px;
  vertical-align: top;
  width: 100%;
}

.price {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  width: 178px;
}

.pull {
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  height: 22px;
  position: absolute;
  left: 35px;
  top: 8px;
  width: 20px;
}

.pull:hover {
  cursor: pointer;
}

.price input[type=range]:hover {
  cursor: pointer;
}

/* Специальные правила для браузеров на движках WebKit/Blink */
.price input[type=range]::-webkit-slider-runnable-track  {
background-color: #ffffff;
border: 0;
display: inline-block;
outline: 0;
height: 4px;
width: 100%;
vertical-align: middle;
}

.price input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat; 
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
  margin-top: -9px;
}

fieldset {
  border:0 none;
  margin: 0;
  padding: 0;
}

.filters-form-fatty-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
}

.filters-form-fatty-item {
  margin-right: 21px;
}

.filters-form-fatty-item:last-child {
  margin-right: 0;
}

.fatty-label {
color: #ffffff;
font-size: 16px;
font-weight: 500;
line-height: 22px;
padding-left: 31px;
position: relative;
}

.fatty-label::before {
  content: "";
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  height: 22px;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
}

.fatty-label:hover::before {
  opacity: 1;
}

.fatty-radio-batton:checked + .fatty-label::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  height: 22px;
  opacity: 0.8;
  width: 22px;
}

.fatty-radio-batton:checked + .fatty-label:hover::before {
  opacity: 1;
}

.fatty-radio-batton:disabled + .fatty-label {
  opacity: 0.4;
}

.filters-form-fillers-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
}

.filters-form-fillers-item {
  margin-right: 22px;
}

.fillers-label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-left: 31px;
  position: relative;
  }

.fillers-label::before {
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  height: 20px;
  opacity: 0.8;
  position: absolute;
  left: 0;
  vertical-align: top;
  width: 20px;
}

.fillers-label:hover::before {
  opacity: 1;
}

.fillers-radio-batton:checked + .fillers-label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  height: 22px;
  opacity: 0.8;
  width: 22px;
}

.fillers-radio-batton:checked + .fillers-label:hover::before {
  opacity: 1;
}

.fillers-radio-batton:disabled + .fillers-label {
  opacity: 0.4;
}

  .fillers-radio-batton:checked + .fillers-label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-size: 24px 20px;
    height: 20px;
    width: 24px;
  }

  .filters-form-fillers-item:last-child {
    margin-right: 0;
  }


.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.pagination-item {
  margin-right: 4px;
}


.pagination-item:first-child {
  margin-right: 15px;
}

.pagination-item:last-child {
  margin-right: 0;
  margin-left: 11px;
}

.pagination-link {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  height: 25px;
  width: 25px;
}

.pagination-arrow {
  background-repeat: no-repeat;
  background-size: 8px 14px;
  display: inline-block;
  height: 14px;
  margin-top: 8px;
  vertical-align: top;
  width: 8px;
}

.pagination-left {
  background-image: url("../img/icon-left-small.svg");
}

.pagination-right {
  background-image: url("../img/icon-right-small.svg");
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link:active {
  background-color: #ffffff;
  border-radius: 50%;
  color: #323232;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.feedback {
  display: none;
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
  }

@keyframes shake {
  0%, 100% { transform: translateX(0) translateY(-50%); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px) translateY(-50%); }
  20%, 40%, 60%, 80% { transform: translateX(10px) translateY(-50%); }
  } 

.feedback-show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.feedback-error {
  animation-name: shake;
  animation-duration: 0.6s; 
}

.feedback-form {
  animation-name: bounce;
  animation-duration: 0.6s;
  background-color: #F8F7F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  height: 412px;
  padding: 19px 24px 27px;
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -235px;
  margin-bottom: -200px;
  width: 431px;
  z-index: 10;

}

.feedback-close-button {
  background-image: url("../img/cross-big.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  height: 17px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
}

.feedback-title {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form-name {
  border: 1px solid #D3D3D2;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 24px;
  padding: 10px 15px;
  width: 237px;
}

.feedback-form-email {
  border: 1px solid #D3D3D2;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 24px;
  padding: 10px 15px;
  width: 237px;
}

.feedback-form-comment {
  border: 1px solid #D3D3D2;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 135px;
  padding: 10px 15px;
  width: 398px;
}

.feedback-form-group {
  margin-bottom: 20px;
}

.feedback-form-button-wrap {
  margin: 0;
  padding: 0;
  text-align: right;
}

.feedback-form-button {
  border: 0;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 10px 22px;
  text-decoration: none;
  vertical-align: top;
}

.feedback-form-button:hover,
.feedback-form-button:focus {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px 0 #AC1000;
}

.feedback-form-button:active {
  background-color: #942718;
  background-image: linear-gradient(0deg, rgba(242, 104, 67, 0.9) 0%, rgba(231, 74, 53, 0.9) 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/*Строим сетки*/

.setki-filters {
  min-height: 134px;
  margin-bottom: 38px;
  outline: 2px solid firebrick;
}





























